# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and Temp
node_modules
dist
release
dist-ssr
*.local
.env
build_log.txt
dev_err_clear.txt
projects.txt
.wrangler
android
electron
test-midtrans.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
